*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 50px auto;
  width: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgb(221, 216, 245);
  border: 1px solid rgb(233, 228, 228);
  border-radius: 10px;
}

.login-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(65, 65, 165);
  .logo {
    max-width: 300px;
    max-height: 300px;
    margin: 50px;
  }
  .form-login {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
  
    .input-block {
      width: 400px;
      height: fit-content;
      display: flex;
      margin: 5px auto 5px 0;
      justify-content: space-between;
      align-items: center;
      h3 {
        margin-right: 20px;
      }
      .input-text {
        width: 300px;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 15px;
        padding-left: 10px;
        vertical-align: middle;
        &:focus {
          border: 3px solid rgb(101, 101, 161);
        }
      }
    }
    
    a {
      outline: none;
    }

    .btn-login {
      border: none;
      outline: none;
      border-radius: 10px;
      width: 200px;
      height: 50px;
      margin: 15px;
      margin-top: 40px;
      font-size: 15px;
      
      &:active {
        transform: translateY(2px);
      }
    }
    .active {
      outline: none;
      background-color: rgb(101, 101, 161);
      color: white;
      cursor: pointer;
    }
  }
}

.logged-in-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 40px;
  h3 {
    font-weight: normal;
  }
  span {
    color: rgb(65, 65, 165);
    font-weight: bold;
  }
}

.tabs {
  font-size: 0;
  margin: 40px;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  // transform: scaleY(-1);
  overflow: auto;
  height: 70vh;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2 {
  display: block;
  background-color: #fff;
}

.tabs>label {
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #dbcdcd;
  border: 1px solid #e0e0e0;
  border-radius: 10px 10px 0 0;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  p {
    display: none;
  }
  .title-block {
    display: none;
  }
  &:hover .title-block {
    position: absolute;
    top: 120%;
    left: 10%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgb(188, 212, 203);
    margin: auto;
    border-radius: 20px;
    border: 1px solid blue;
    width: 80%;
    height: 200px;
    animation: moveFromLeft 400ms ease-in;
    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: -11px;
      border: 1px solid blue;
      border-right: none;
      border-bottom: none;
      z-index: 3;
      background-color: rgb(188, 212, 203);
      transform: rotate(45deg);
    }
  }
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

@keyframes moveFromLeft{
  from {
  transform: translateY(-50%) scale(0);
  }
  to {
  transform: translateY(0%) scale(1);
  }
 } 

// .title-block {
//     position: fixed;
//     z-index: 1;
//     display: none;    
//     align-items: center;
//     justify-content: center;
//     img {
//       margin: 30px;
//     }
//     &:hover {
//       background-color:rgb(188, 212, 203);
//       margin: auto;
//       border-radius: 30px;
//       border: 1px solid blue;
//       min-width: 600px;
//       animation: moveFromLeft 400ms ease-in;
//     }
//     h3 {
//       display: none;
//     }
//     &:hover h3 {
//       display: block;
//     }
// }

.messageBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    &:hover .icons-block {
      display: flex
    }
    .message {
        position: relative;  
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 20px;
        padding: 20px;
        text-align: left;
        background-color: pink;
        border-radius: 10px;
        }
    .out-message {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 20px;
        padding: 20px;
        text-align: left;
        background-color: rgb(184, 233, 213);
        border-radius: 10px;
        align-self: flex-start;
    }
    .icons-block {
      position: absolute;
      display: none;
      width: 60px;
      height: fit-content;
      align-items:flex-start;
      right: -15px;
      top: 5px;
      img {
        opacity: 0.50;
        &:hover {
          opacity: 0.70;
          cursor: pointer;
        }
        &:active {
          transform: translateY(1px);
          border-top: 1px solid white;
          }
      }
  }
  .message-date {
    color: green;
    font-size: 14px;
    margin-top: 15px;
  }
}

.form {
    
    width: 70%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    .textarea {
        width: inherit;
        margin: auto;  
        border: none;
        outline: none;
        font-family: inherit;
        font-size: inherit;
        overflow: hidden;
        resize: none;
    }
    .input-file-block {
        position: relative;
        .input-file {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
        .input-img-btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          // .emoji {
          //   // position: absolute;
          //   z-index: 12;
          //   bottom: 50px;
          //   right: 10px;
          // }
          img {
            opacity: 0.50;
            &:hover {
              opacity: 0.70;
              cursor: pointer;
            }
            &:active {
              transform: translateY(1px);
              border-top: 1px solid white;
            }
        }
      }
    }
    
    .button {
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 20px;
        padding: 0;
        margin: auto;
        background-color: transparent;
    }
}


@media screen and (max-width: 900px) {
  body {
    width: 95%;
    margin: 10px;
    .login-block {
      h1 {
        display: none;
      }
      .input-block {
        flex-direction: column;
      }
    }
    .title-block {
      display: none;
    }
    .logged-in-user {
      font-size: 14px;
      margin: auto 15px;
    }
    .tabs {
      width: inherit;
      margin: 10px;
    }
    .tabs>label {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items:center;
      &:hover .title-block {
        display: none;
      }
    }
    .form {
      width: inherit;
    }
  }
}